:root {
  --bg-water: rgba(0, 0, 255, 0.5);
  --bg-fire: rgba(255, 0, 0, 0.5);
  --bg-grass: rgba(0, 128, 0, 0.5);
  --bg-psychic: rgba(128, 0, 128, 0.5);
  --bg-ghost: rgba(75, 0, 130, 0.5);
  --bg-ground: rgba(222, 184, 135, 0.5);
  --bg-fighting: rgba(220, 20, 60, 0.5);
  --bg-dragon: rgba(72, 61, 139, 0.5);
  --bg-fairy: rgba(255, 192, 203, 0.5);
  --bg-electric: rgba(255, 215, 0, 0.5);
  --bg-bug: rgba(128, 128, 0, 0.5);
  --bg-poison: rgba(139, 0, 139, 0.5);
  --bg-dark: rgba(0, 0, 0, 0.5);
  --bg-steel: rgba(192, 192, 192, 0.5);
  --bg-normal: rgba(128, 128, 128, 0.5);
  --bg-rock: rgba(165, 42, 42, 0.5);
  --bg-ice: rgba(0, 128, 128, 0.5);
  --bg-flying: rgba(173, 216, 230, 0.5);
}

.Pokecard {
  color: white;
  background-color: rgb(180, 180, 180);
  width: 200px;
  height: 240px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 4px 3px 8px;
  transition: all 300ms ease;
  overflow: hidden;
}

.Pokecard:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 300ms ease;
}

.Pokecard .Pokecard-bg {
  opacity: 0.06;
  position: absolute;
  top: 52%;
  right: -51px;
  transform: scale(1.1);
}

.Pokecard img {
  width: 120px;
  position: relative;
}

.Pokecard p {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.3rem;

  padding: 10px;
}

.Pokecard-icon {
  width: 30px !important;
}
